
.buttonCustom {
  margin-left: 5px;
}
.spinningCustom {
  :global {
    .ant-spin-nested-loading {
      height: 100% !important;
    }
    .ant-spin-container {
      height: 100% !important;
    }
    .ant-spin,
    .ant-spin-spinning,
    .ant-spin-show-text {
      height: 100% !important;
      max-height: none !important;
    }
    .ant-spin-blur::after {
      opacity: 1 !important;
      z-index: 999 !important;
      transition: none;
    }
    .ant-table-body {
      height: 500px !important;
      max-height: none !important;
    }
    .ant-table-body::-webkit-scrollbar {
      width: 5px;
      height: 8px;
    }
    .ant-table-body::-webkit-scrollbar-thumb {
      background: #888;
    }
    .ant-table-placeholder {
      height: 500px;
    }
  }
}
.bookShelfTable {
  :global {
    .ant-table-thead > tr > th {
      // height: 60px !important;
      background-color: rgba(64, 169, 255, 0.2);
    }
    .ant-table-body{
      height: 400px;
    }
  }
}

.locationTable {
  :global {
    .ant-table-thead > tr > th {
      // height: 60px !important;
      background-color: rgba(64, 169, 255, 0.2);
    }
    .ant-table-body{
      height: 400px;
    }
  }
}
