
.buttonCustom {
  margin-left: 5px;
}
.spinningCustom {
  :global {
    .ant-spin-nested-loading {
      height: 100% !important;
    }
    .ant-spin-container {
      height: 100% !important;
    }
    .ant-spin,
    .ant-spin-spinning,
    .ant-spin-show-text {
      height: 100% !important;
      max-height: none !important;
    }
    .ant-spin-blur::after {
      opacity: 1 !important;
      z-index: 999 !important;
      transition: none;
    }
    .ant-table-body {
      height: 495px !important;
      max-height: none !important;
    }
    .ant-table-body::-webkit-scrollbar {
      width: 5px;
      height: 8px;
    }
    .ant-table-body::-webkit-scrollbar-thumb {
      background: #888;
    }
    .ant-table-placeholder {
      height: 500px;
    }
  }
}
.spinningCustom::-webkit-scrollbar {
  width: 5px !important;
  height: 8px !important;
}
.spinningCustom::-webkit-scrollbar-thumb {
  background: #888 !important;
}



.locationTable {
  :global {
    .ant-table-thead > tr > th {
      background-color: transparent;
    }
    .ant-table-body{
      height: 450px;
    }
    .ant-table-body::-webkit-scrollbar {
      width: 5px !important;
      height: 8px !important;
    }
    .ant-table-body::-webkit-scrollbar-thumb {
      background: #888 !important;
    }
  }
}
