.confirmForm > div {
  margin-bottom: 30px;
}

.confirmForm {
  padding-left: 25px;
}
.wishlistCol {
  height: 470px;
  overflow: auto;
}

.borrowTable {
  :global {
    .ant-table-thead > tr > th {
      background-color: transparent;
    }
    .ant-table-body {
      height: 600px;
    }
    .ant-table-body::-webkit-scrollbar {
      width: 3px;
      height: 5px;
    }
    .ant-table-body::-webkit-scrollbar-thumb {
      background: #888;
    }
  }
}
.locationBook{
  padding-right: 20px;
  max-height: 500px;
  overflow: 'auto'
}
.locationBook::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}
.locationBook::-webkit-scrollbar-thumb {
  background: #888;
}

.returnTable {
  :global {
    .ant-table-thead > tr > th {
      background-color: transparent;
    }
    .ant-table-body {
      height: 600px !important;
    }
    .ant-table-body::-webkit-scrollbar {
      width: 3px;
      height: 5px;
    }
    .ant-table-body::-webkit-scrollbar-thumb {
      background: #888;
    }
  }
}
.handelBookMark {
  height: calc(47px);
  :global {
    .ant-ribbon {
      top: -11px;
      right: -16px;
    }
  }
}
