.myCalendar{
    background-color: white;
    padding: 5px 25px;
    width: 1263px;
}
.myCalendar .rbc-calendar{
    height: 600px  !important;    
    width: calc(100%);
}
.myCalendar button{
    background-color: #1890ff !important;
    color: white;
    border: none;
    transition: all 0.5s;
    outline: none;
    font-size: 14px;
}
.myCalendar button:nth-child(2){
    border-left: 1px solid rgba(255, 255, 255) !important;
    border-right: 1px solid rgba(255, 255, 255) !important;
}
.myCalendar button:nth-child(3){
    border-left: 1px solid rgba(255, 255, 255) !important;
    border-right: 1px solid rgba(255, 255, 255) !important;
}
.myCalendar button:nth-child(4){
    border-left: 1px solid rgba(255, 255, 255) !important;
    border-right: 1px solid rgba(255, 255, 255) !important;
}
.myCalendar button:hover{
    background-color: white !important;
    color: #0078d4;
}
.myCalendar .rbc-event{
    background-color: #40a9ff;
}
.myCalendar .rbc-event-content{
    background-color: transparent;
}
.myCalendar .rbc-active{
    color: #40a9ff !important;
    background-color: white !important;
}
.myCalendar .rbc-event-content{
    font-size: 11px;
}
.myCalendar .rbc-toolbar{
    display: none;
}

.buttonActive{

}

.active{
    border: 1px solid #0078d4 !important;
    background-color: white !important;
    color: #0078d4 !important;
}